@model Visa.Domain.vArticle
@{
    Layout = null;
}
@{
    string regionName = ViewContext.RouteData.Values["region"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8; IE=9; IE=10; IE=EDGE">
    <meta name="viewport" id="myViewport" content="width=device-width, initial-scale=1.0">
    <title>相关服务及收费标准</title>
    <meta name="keywords" content="相关服务及收费标准">
    <meta name="description" content="相关服务及收费标准">

    @Html.Partial("_PartialCss")

</head>

<body>
    <div class="container">
        @Html.Partial("_PartialHeader")
        <section class="banner">
            <div class="wrapper">

                <div class="clear"></div>
                <div class="breadcrumb padt20">
                    <ul class="clearfix">
                        <li><a href="/@regionName/Home">首页</a></li>
                        <li>&gt;</li>
                        <li><a>相关服务及收费标准</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="center text_center padt20">
                    <h1 class="caps c_blue light fbold">相关服务及收费标准</h1>
                </div>
            </div>
        </section>
        <div class="wrapper">
            <section class="steps">
                <ul class="step_icons">
                    <li class="step01 ico marr94"><a href="/@regionName/Step/Know_Your_Visa_Type" title="准备您的申请"></a></li>
                    <li class="step02 ico marr94"><a href="/@regionName/Step/How_To_Apply" title="如何申请"></a></li>
                    <li class="step03 ico"><a href="/@regionName/Step/After_Submission" title="完成递交"></a></li>
                    <li class="clear ico"></li>
                </ul>
            </section>
            <!--Responsive-->
            <div class="home_step_responsive_parent">
                <div class="home_step_responsive">
                    <div class="step01 ico"><a href="/@regionName/Step/Know_Your_Visa_Type" title="准备您的申请"></a></div>
                </div>
                <div class="home_step_responsive">
                    <div class="step02 ico"><a href="/@regionName/Step/How_To_Apply" title="如何申请"></a></div>
                </div>
                <div class="home_step_responsive">
                    <div class="step03 ico"><a href="/@regionName/Step/After_Submission" title="完成递交"></a></div>
                </div>
            </div>
        </div>
        <section>
            <div class="wrapper">
                <div class="pad22 mart15">
                    <div class="content_div">
                        <h4 class="tourist_title_main marb15">相关服务及收费标准</h4>
                        <div class="tourist_text">
                            @Html.Raw(Model.ArticleContent)
                        </div>

                    </div>
                </div>
            </div>
        </section>
        @Html.Partial("_PartialFooter")
    </div>


</body>
</html>