<section>
    <div class="wrapper">
        <div class="helpline clearfix">
            <div class="helpline_tabs">
               
                <div class="helpline_tab_contents">
                    <div helpline_tab_content_name="qingdao" class="helpline_tab_current">
                        <h3 class="c_blue marb15">热线 : 青岛</h3>
                        <ul class="helpline_a clearfix">
                            <li>
                                <img src="/images/icons/phone_big.png" alt="Phone icon" class="floatl marr10">
                                <div class="floatl">
                                    <p class="number">0532-58537777<br>0532-58538888</p>
                                    <p class="country_name">营业时间：0800至1700，周一到周五（使馆假期以外）</p>
                                </div>
                            </li>
                            <li>
                                <img src="/images/icons/mail_big.png" alt="Mail icon" class="floatl marr10">
                                <div class="floatl">
                                    <p class="country_name caps">电子邮箱：</p>
                                    <p class="country_name"><a href="mailto:service@globalvisacenter.org">service@globalvisacenter.org</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>
<div class="wrapper">
    <footer>
        <p class="floatl" id="copyright">&copy; BRCIC. All Rights Reserved<a class="acolor disclaimer_mobile marr10 marl10" href="javascript:;">免责声明和隐私政策</a></p>
    
        <div class="clear"></div>
    </footer>

</div>
