.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default; font-size:12px; outline: none; background: #06345B; border: 1px solid #005496; text-align: left;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888;-webkit-box-shadow:5px 5px 5px -5px #888;box-shadow: 5px 5px 5px -5px #888;}
.ddcommon input.text{color:#7e7e7e;padding:0; padding-left: 5px; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; font-size: 11px; border:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888;-webkit-box-shadow:5px 5px 5px -5px #888;box-shadow: 5px 5px 5px -5px #888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888;-webkit-box-shadow:-5px -5px 5px -5px #888;box-shadow: -5px -5px 5px -5px #888}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:40%; right:5px;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%;}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left;width:22px;height: auto;}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd .ddArrow{width:9px;height:8px;  background:url(../images/icons/dropdown-arrow.png) no-repeat; cursor:pointer;}
.dd .ddTitle{color:#FFF;}
.dd .ddTitle .ddTitleText{padding: 2px 15px 3px 5px; line-height: 25px;}
.dd .ddTitle .ddTitleText .ddlabel {vertical-align:middle;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;width:22px;height: auto;}
.dd .ddChild{ background: #06345B; border: 1px solid #005496;}
.dd .ddChild li{padding: 7px 0px 7px 5px; background: #06345B; border-bottom: 1px solid #005496;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;}
.dd .ddChild li .description{color:#FFF;}
.dd .ddChild li .ddlabel{color:#FFF;vertical-align:middle;}
.dd .ddChild li.hover{background:#E86020; border-bottom:1px solid #F09B74;}
.dd .ddChild li:last-child.hover{border-bottom:0 none #F09B74;}
.dd .ddChild li img{padding:0 5px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background: #E86020; border-bottom:1px solid #F09B74;}
.dd .ddChild li:last-child.selected{border-bottom:0 none #F09B74;}
.dd .ddChild li.selected .ddlabel{color:#FFF;}
.dd.ddcommon.borderRadiusTp {
	-webkit-box-shadow: 5px 5px 5px -5px #888;
	-moz-box-shadow: 5px 5px 5px -5px #888;
	box-shadow: 5px 5px 5px -5px #888;
}