/* Tiny Scrollbar */

.scrollbar1 { width: 300px; margin: 10px 0px 10px 0px;}

.scrollbar1 .viewport { height:218px; overflow: hidden; position: relative; *z-index:5;}

.scrollbar1 .overview { list-style: none; position: absolute; top: 0; padding: 0px 10px 0px 0px; margin: 0px; }

.scrollbar1 .scrollbar{ position: relative; background-position: top center; float: right; width: 9px;margin-right: 0px;top:0px;}

.scrollbar1 .track {background:#d8d8d8; height: 100%; width:13px; border-radius: 5px; position: relative; padding: 0px; margin-left:-34px; }

.scrollbar1 .thumb {background: #1c496b;  height: 64px; width: 13px; border-radius: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0px; z-index:10;}

.disable {display: none;}

.scrollbar2 { width: 300px; margin: 10px 0px 10px 0px;}

.scrollbar2 .viewport { height:175px; overflow: hidden; position: relative; *z-index:5;}

.scrollbar2 .overview { list-style: none; position: absolute; top: 0; padding: 0px 10px 0px 0px; margin: 0px; }

.scrollbar2 .scrollbar{ position: relative; background-position: top center; float: right; width: 9px;margin-right: 0px;top:0px;}

.scrollbar2 .track {background:#d8d8d8; height: 100%; width:13px; border-radius: 5px; position: relative; padding: 0px; margin-left:-34px; }

.scrollbar2 .thumb {background: #1c496b;  height: 64px; width: 13px; border-radius: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0px; z-index:10;}

.disable {display: none;}

